
body {
  display: flex;
}

/*=== Background Colors ===*/

.purple-1 {
  background: #EAEAF4;
}

.purple-2 {
  background: #A9AAD2;
}

.purple-3 {
  background: #5356A4;
}

.purple-4 {
  background: #1F1F3D;;
}

/*=== menu section ===*/

.menu {
  display: flex;
  flex-flow: column wrap;
  font-family: 'Open Sans';
  width: 25vw;
}

.header-text {
  color: #EAEAF4;
  font-weight: bold;
  padding: 20px;
}

.faded {
  background-color: gray;
  opacity: 0.5;
}

#menu-content {
  border-bottom: 2px solid #A9AAD2;
  border-top: 2px solid #A9AAD2;
  color: #A9AAD2;
  padding: 10px 20px;
}

#menu-icon, #menu-x-icon {
  display: none;
}

.show-ideas-btn {
  background-color: #5356A4;
  border:2px #EAEAF4;
  color: #E9E9F3;
  font-weight: 600;
  font-size: 1.4vw;
  height: 1.5em;
  padding: .2em;
  text-align: center;
  width:94%;
}


/*=== main section ===*/

.ideas {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family:'Open Sans';
  height: 100vh;

}

.idea-form-section {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  flex-grow: 2;
  justify-content: space-around;
  padding-bottom: 2em;
}

.idea-cards-section {
  display: grid;
  flex-grow: 3;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.idea-form {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding: 1.5em 0em 0em 0em;
 width: 60%;
}

.idea-form input {
  border-radius: 4px;
  margin: 12px 0px;
}

.idea-form label {
  color: rgb(40,38,84);
  font-family: 'Open Sans';
  font-weight: bold;
}

#title-input-field {
  border-color: #5356A4;
  flex-grow: 1;
  font-size: 16px;
  height: 2.3em;
  padding: 3px;
}

#body-input-field {
  border-color: #5356A4;
  flex-grow: 2;
  font-size: 16px;
  height: 7em;
}

.save-idea-btn {
  background-color: rgb(40,38,84);
  border-color: #5356A4;
  border-radius: 4px;
  color: #EAEAF4;
  cursor: pointer;
  font-size: x-large;
  font-weight: 500;
  height: 2em;
  margin: 18px 0px;
}

.save-idea-btn:disabled {
  background-color: #D0D2D3;
  cursor: not-allowed;
}

.search-bar {
  display: flex;
  height: 3em;
  margin: 15px 0px;
  width: 60%;
}

#search-icon-btn {
  background: #5356A4;
  border-color: #5356A4;
  padding: .5em .2em;
  width: 12%;
}

#search-entry {
  border-color: #5356A4;
  border-radius: 3px;
  font-size:1em;
  padding-left: 1em;
  width: 88%;
}

/*idea box cards section*/

.idea-box {
  border: 2px solid;
  border-color: #5356A4;
  display: grid;
  grid-template-rows: 10% 15% 65% 10%;
  height: 100%;
  margin-bottom: 10px;
  width: 1fr;
}

.star-delete-option {
  background-color: #1f1f3d;
  display: flex;
  grid-row: 1;
  height: 2em;
  justify-content: space-between;
  padding: .1em;
}

.star-delete-option button {
  width: 25px;
}

.star-icon:disabled,
.star-icon,
.delete-icon:disabled,
.delete-icon {
  background-color: #1f1f3d;
  background-position: center;
  background-repeat: no-repeat;
  border: 0px;
}

.star-icon {
  background-image: url(assets/star.svg);
}

.delete-icon:disabled {
  background-image: url(assets/delete.svg);
}

.delete-icon {
  background-image: url(assets/delete-active.svg);
}

.idea-box-main-content h4 {
  grid-row: 2;
  padding-left: 5px;
}

.idea-box-main-content p {
  grid-row: 3;
  padding-left: 5px;
}

.idea-box-add-comment {
  background-color: #5356A4;
  background-image: url(assets/comment.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2.5em;
  color: #EAEAF4;
  grid-row: 4;
  width: 100%
}

.idea-box-add-comment p {
  font-size: 14px;
  font-weight: 600;
  grid-column: 2;
  margin: 5px;
  margin-left: 13%;
  text-align: left;
  width: 75%;
}

.idea-box-add-comment img {
  height: 1.5em;
}


/*=== media queries ===*/

@media only screen and (max-width: 860px) {
  body {
    flex-direction: column;
  }

  .menu {
    display: grid;
    grid-template-columns: 10vw 90vw;
    grid-template-rows: auto;
    width: 100%;
  }

  .menu-icon, .menu-x-icon {
    align-self: center;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1F1F3D;
    border: 0px;
    height: 50px;
    grid-column: 1;
    margin-left: 7px;
    width: 50px;
  }

  .menu-icon {
    background-image: url(assets/menu.svg);
    display: inline-block;
  }

  .menu-x-icon {
    background-image: url(assets/menu-close.svg);
    display: inline-block;
  }

  #menu-content {
    display: none;
  }

  #menu-content:target {
    border: 0px;
    display: block;
    grid-column: span 2;
    grid-row: 2;
    height: 15vh;
    margin-bottom: 13px;
    width: 90%;
  }

  .hidden {
    display: none;
  }

  .header-text {
    align-self: center;
    font-size: 22px;
    grid-column: 2;
    height: 5vh;
    justify-self: center;
    margin: 8px;
    padding: 3px;
  }

  .show-ideas-btn {
    font-size: 18px;
    height: 35%;
    width: 100%;
  }

  .idea-form-section {
    flex-grow: 1;
  }

  .idea-form {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {


  .header-text{
    grid-column: 2;
  }

  .idea-form {
    width: 90%;
  }

  .idea-cards-section {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: 1fr;
  }

  .idea-box {
    display: grid;
    grid-template-rows: 13% 13% 60% 14%;
    height: 15em;
  }

  .idea-box-add-comment {
    align-self: end;
  }

  .idea-box-add-comment p {
    font-size: 16px;
    justify-self: left;
    margin-left: 25px;
    width: 50%;
  }
}
